<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACTION_APP_NOTIFICATION_SETTINGS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/软件"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name="com.example.findlist.SMSActivity"
            android:exported="false" />
        <activity
            android:name="com.example.findlist.BatteryActivity"
            android:exported="true" />

        <service
            android:name="com.example.service.MediaPlayerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.example.findlist.MusicPlayerActivity"
            android:exported="false" />
        <activity
            android:name="com.example.findlist.TodolistActivity"
            android:exported="false"
            android:label="代做清单"
            android:parentActivityName=".anotherActivity" />
        <activity
            android:name=".DialogActivity"
            android:exported="true"
            android:label="计算结果"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".anotherActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="two_start" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".calculateActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.findlist.GuessActivity"
            android:label="猜拳游戏"
            android:parentActivityName=".anotherActivity" />
        <activity
            android:name="com.example.findlist.SharedPreferenceActivity"
            android:label="使用SharedPreferences存储与读取数据"
            android:exported="true"/>

    </application>

</manifest>